In [38]:
import pandas as pd

In [39]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
df = pd.read_csv('201908-citibike-tripdata.csv')

In [40]:
# 2. Check the datatypes of your columns. 
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [41]:
df['tripduration']

0           393
1           627
2          1132
3          1780
4          1517
           ...
2344219     216
2344220     117
2344221    1614
2344222    1301
2344223     419
Name: tripduration, Length: 2344224, dtype: int64

In [42]:
# 3. Convert the 'tripduration' column to datetime datatype.
df['tripduration'] = pd.to_datetime(df['tripduration'],unit='m')

In [43]:
# 4. Check the datatypes of your columns. 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344224 entries, 0 to 2344223
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             datetime64[ns]
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: datetime64[ns](1), float64(6), int64(3), object(5)
memory usage: 268.3+ MB

In [44]:
df['tripduration']

0         1970-01-01 06:33:00
1         1970-01-01 10:27:00
2         1970-01-01 18:52:00
3         1970-01-02 05:40:00
4         1970-01-02 01:17:00
                  ...
2344219   1970-01-01 03:36:00
2344220   1970-01-01 01:57:00
2344221   1970-01-02 02:54:00
2344222   1970-01-01 21:41:00
2344223   1970-01-01 06:59:00
Name: tripduration, Length: 2344224, dtype: datetime64[ns]

In [46]:
# 5. Export the Dataframe as a new CSV file without the index.
df.to_csv('edited.csv',index=False)